@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #infografias,
  #encuesta,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #resultados {
    width: 110%;
  }
}
